{erl_opts, [debug_info]}.
{deps, [
  {econfig, {git, "https://github.com/benoitc/econfig.git", {branch, "master"}}}
  ,{ed25519, {git, "https://github.com/qiuqi/ed25519.git", {branch, "master"}}}
  ,{gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}
  ,{lager, "3.2.1"}
  ,{salt, {git, "git://github.com/qiuqi/salt.git", {branch, "rebar3"}}}
  ,{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [{release, { chatos, "0.1.0" },
         [chatos,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
