[
{ chatos, []},
{lager, [
    {handlers, [
        {lager_console_backend, error},
        {lager_file_backend, [{file, "/var/log/fpanda/error.log"}, {level, error}, {size, 50000000}, {count, 50}]},
        {lager_file_backend, [{file, "/var/log/fpanda/lager.log"}, {level, info}, {size, 50000000}, {count, 50}]}
    ]}
]}
].
